<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.davidbezalellaoli.lastmobilemikroskil">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/mikroskil"
        android:label="@string/app_title_name"
        android:roundIcon="@drawable/mikroskil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.auth.activities.AuthParent"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".modules.home.activities.Home"
            android:label="@string/title_activity_home"></activity>
    </application>

</manifest>